* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: var(--bg-color);
  font-family: monospace;
}


.site-navbar{
  background-color:rgba(38, 46, 63, 0.7);
  padding: 10px 0;
  height: 8vh;
  color: black !important;
  margin-bottom: 8vh;
}
.navbar-brand{
  font-size: 24px;
  font-weight: bold;
}
.navbar-nav{
  display: flex;
  font-size: 20px;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
}
.nav-link{
  margin: 0 10px;
}
.site-navbar button{
  height: 36px;
  font-weight: bold;
  font-size: 16px;
  outline: none;
  box-shadow: none;
  border: none;
}
.site-navbar button:focus{
  border: none;
  outline: none !important;
  box-shadow: none !important;
  -webkit-box-shadow: none;
}
.container{
  margin-left: 20%;
  margin-right: 20%;
  width: 60%;
}


#hero{
  text-align: center;
  color: var(--text-primary);
  padding-top: 20vh;
  padding-bottom: 10vh;
}
#hero img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  width: 40%;
}
#hero h2{
  font-size: 24px;
  font-weight: bold;
  color: var(--text-secondary);
  margin-bottom: 10px;
}
#hero h2 span{
  color: var(--text-primary);
}
#hero h3, #hero .type-animation{
  font-size: 20px;
  font-weight: bold;
}


#about{
  color: var(--text-primary);
  padding-top: 10vh;
}
#about h2{
  font-size: 24px;
  font-weight: bold;
}
#about-content{
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}
#about-content img{
  flex: 1;
}
#about-text{
  flex: 1;
  color: var(--text-primary);
  font-size: 18px;
  text-align: justify;
}
#about-text a{
  color: var(--text-secondary);
  text-decoration: underline 2px;
  transition: ease 0.6s;
}
#about-text a:hover{
  color: var(--text-primary);
}



#skills{
  color: var(--text-primary);
  padding-top: 10vh;
}
#skills h2{
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 5vh;
}
.languages, .frameworks, .platforms{
  display: flex;
  flex-wrap: wrap;;
  justify-content: flex-start;
  margin-bottom: 5vh;
}
.skill{
  background-color: rgba(38, 46, 63, 1);
  width: fit-content;
  padding: 10px 20px;
  border-radius: 10px;
  margin: 0 15px 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.skill span{
  font-size: 18px;
  font-weight: bold;
  color: aliceblue;
  transition: ease 0.6s;
}
.skill:hover span{
  color: var(--text-secondary);
}

#work{
  color: var(--text-primary);
  padding-top: 10vh;
  padding-bottom: 5vh;
}
#work h2{
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 5vh;
}
#work-content{
  display: flex;
  width: 100%;
  justify-content: space-between;
}
#work-toggle{
  flex: 2;
  margin-right: 5vw;
}
#work-toggle ul{
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0 !important;
}
#work-toggle li{
  padding: 1vh 2vh;
  border-left: var(--text-inactive) solid 2px;
  color: var(--text-inactive);
  transition: ease 0.8s;
  font-weight: bold;
  cursor: pointer;
}
#work-toggle li:hover, #work-toggle li.active{
  border-color: aliceblue;
  color: aliceblue;
  background-color: rgba(38, 46, 63, 1);
}
#work-details{
  flex: 5;
}
#work-details h4{
  font-size: 18px;
  font-weight: bold;
  color: var(--text-primary);
  letter-spacing: 0.8px;
  margin-bottom: 1vw;
}
#work-details a{
  text-decoration: none;
  color: var(--text-secondary);
  transition: ease 0.6s;
}
#work-details a:hover{
  color: var(--text-primary);
  text-decoration: underline 2px;
}
#work-details .description{
  font-size: 14px;
}



#projects{
  color: var(--text-primary);
  padding-top: 10vh;
  padding-bottom: 5vh;
}
#projects h2{
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 5vh;
}




















@media all and (max-width: 992px) {
  .container{
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
  }
  #hero{
    margin-top: 20vh;
    margin-bottom: 30vh;
  }
  #hero img{
    width: 80%;
  }
  #hero h2{
    font-size: 18px;
  }
  #hero .type-animation{
    font-size: 16px;
    color: var(--text-primary);
  }
}